@import "nord.css";
@import url('https://fonts.googleapis.com/css?family=Elsie&display=swap');

a { color: var(--nord14); }
b { color: var(--nord7); }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Elsie', cursive;
}
h1 { font-size: 35px; }
h2 { font-size: 28px; }
h3 { font-size: 23px; }
h4 { font-size: 18px; }
h1 > .subtitle { font-size: 21.48px; }
i { color: var(--nord8); }
pre { box-shadow: none; }
pre.src, pre.example { background-color: var(--nord0); }
/* Normal text style(including code) */
p, pre, ol, ul, table, code {
    font-size: 18px;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman";
}
code { color: #81A1C1; }
u {
    text-decoration: none;
    color: var(--nord0);
    background-color: var(--nord5);
}
#org-div-home-and-up {
    font-size: 100%;
    margin-bottom: 1em auto;
}
#content {
    margin: auto 7%;
    padding: 1em;
    background-color: var(--nord2);
    max-width: 90%;
}
#postamble {
    text-align: right;
    margin-top: 1em;
    margin-right: 7%;
}
.tag {
    color: var(--nord10);
    background-color: var(--nord1);
}
img {
    max-width: 95%;
}
::selection {
    background-color: var(--nord4);
    color: var(--nord2);
}
::before {
    background-color: var(--nord4);
    color: var(--nord2);
}
/* 0 background */
/* 4 foreground */
/* 6 bright text */

/* 7 acento primario Clases, tipos primitivas */
/* 8 declaraciones llamadas ejecuciones funciones metodos y rutinas */
/* 9 soporte etiquetas operadores unidades y puntuación */
/* 10 comentarios, palabras clave preprocesamiento */

/* 11 errores */
/* 12 notas decoracione peligro */
/* 13 avisos y modificaciones */
/* 14 exito cadenas */
/* 15 numeros */
