body {
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-bbdb-field-name {
    /* bbdb-field-name */
    color: #D8DEE9;
}
.org-bbdb-name {
    /* bbdb-name */
    color: #88C0D0;
}
.org-bbdb-organization {
    /* bbdb-organization */
    color: #616e88;
}
.org-bold {
    /* bold */
    font-weight: bold;
}
.org-bold-italic {
    /* bold-italic */
    font-weight: bold;
    font-style: italic;
}
.org-bookmark-menu-bookmark {
    /* bookmark-menu-bookmark */
    font-weight: bold;
}
.org-bookmark-menu-heading {
    /* bookmark-menu-heading */
    color: #8FBCBB;
}
.org-border {
    /* border */
    color: #D8DEE9;
}
.org-browse-url-button {
    /* browse-url-button */
    text-decoration: underline;
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    color: #D8DEE9;
    font-weight: bold;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #81A1C1;
}
.org-button {
    /* button */
    color: #88C0D0;
    background-color: #2E3440;
}
.org-c-annotation {
    /* c-annotation-face */
    color: #D08770;
}
.org-c-nonbreakable-space {
    /* c-nonbreakable-space-face */
    background-color: #dc322f;
}
.org-calendar-month-header {
    /* calendar-month-header */
    color: #88C0D0;
}
.org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
}
.org-calendar-weekday-header {
    /* calendar-weekday-header */
    color: #81A1C1;
}
.org-calendar-weekend-header {
    /* calendar-weekend-header */
    color: #616e88;
}
.org-change-log-acknowledgment {
    /* change-log-acknowledgment */
    color: #616e88;
}
.org-change-log-conditionals {
    /* change-log-conditionals */
    color: #D8DEE9;
}
.org-change-log-date {
    /* change-log-date */
    color: #A3BE8C;
}
.org-change-log-email {
    /* change-log-email */
    color: #D8DEE9;
}
.org-change-log-file {
    /* change-log-file */
    color: #88C0D0;
}
.org-change-log-function {
    /* change-log-function */
    color: #D8DEE9;
}
.org-change-log-list {
    /* change-log-list */
    color: #81A1C1;
}
.org-change-log-name {
    /* change-log-name */
    color: #81A1C1;
}
.org-comint-highlight-input {
    /* comint-highlight-input */
    font-weight: bold;
}
.org-comint-highlight-prompt {
    /* comint-highlight-prompt */
    color: #88C0D0;
    font-weight: bold;
}
.org-comment {
    /* font-lock-comment-face */
    color: #616e88;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #616e88;
}
.org-company-echo {
}
.org-company-echo-common {
    /* company-echo-common */
    color: #2E3440;
    background-color: #D8DEE9;
}
.org-company-preview {
    /* company-preview */
    color: #D8DEE9;
    background-color: #5E81AC;
}
.org-company-preview-common {
    /* company-preview-common */
    color: #2E3440;
    background-color: #88C0D0;
}
.org-company-preview-search {
    /* company-preview-search */
    color: #2E3440;
    background-color: #88C0D0;
}
.org-company-scrollbar-bg {
    /* company-scrollbar-bg */
    color: #3B4252;
    background-color: #3B4252;
}
.org-company-scrollbar-fg {
    /* company-scrollbar-fg */
    color: #434C5E;
    background-color: #434C5E;
}
.org-company-template-field {
    /* company-template-field */
    color: #2E3440;
    background-color: #8FBCBB;
}
.org-company-tooltip {
    /* company-tooltip */
    color: #D8DEE9;
    background-color: #434C5E;
}
.org-company-tooltip-annotation {
    /* company-tooltip-annotation */
    color: #D08770;
}
.org-company-tooltip-annotation-selection {
    /* company-tooltip-annotation-selection */
    color: #D08770;
    font-weight: bold;
}
.org-company-tooltip-common {
    /* company-tooltip-common */
    color: #88C0D0;
}
.org-company-tooltip-common-selection {
    /* company-tooltip-common-selection */
    color: #88C0D0;
    background-color: #4C566A;
}
.org-company-tooltip-mouse {
    /* company-tooltip-mouse */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-company-tooltip-quick-access {
    /* company-tooltip-quick-access */
    color: #D08770;
}
.org-company-tooltip-quick-access-selection {
    /* company-tooltip-quick-access-selection */
    color: #D08770;
    font-weight: bold;
}
.org-company-tooltip-search {
    /* company-tooltip-search */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-company-tooltip-search-selection {
    /* company-tooltip-search-selection */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-company-tooltip-selection {
    /* company-tooltip-selection */
    background-color: #4C566A;
    font-weight: bold;
}
.org-compilation-column-number {
    /* compilation-column-number */
    color: #616e88;
}
.org-compilation-error {
    /* compilation-error */
    color: #BF616A;
    font-weight: bold;
}
.org-compilation-info {
    /* compilation-info */
    color: #A3BE8C;
}
.org-compilation-line-number {
    /* compilation-line-number */
    color: #81A1C1;
}
.org-compilation-mode-line-exit {
    /* compilation-mode-line-exit */
    color: #228b22;
    font-weight: bold;
}
.org-compilation-mode-line-fail {
    /* compilation-mode-line-fail */
    color: #ff0000;
    font-weight: bold;
}
.org-compilation-mode-line-run {
    /* compilation-mode-line-run */
    color: #EBCB8B;
    font-weight: bold;
}
.org-compilation-warning {
    /* compilation-warning */
    color: #EBCB8B;
    font-weight: bold;
}
.org-completions-annotations {
    /* completions-annotations */
    color: #81A1C1;
}
.org-completions-common-part {
    /* completions-common-part */
    color: #88C0D0;
    font-weight: bold;
}
.org-completions-first-difference {
    /* completions-first-difference */
    color: #BF616A;
}
.org-constant {
    /* font-lock-constant-face */
    color: #81A1C1;
}
.org-css-property {
    /* css-property */
    color: #81A1C1;
}
.org-css-selector {
    /* css-selector */
    color: #88C0D0;
}
.org-csv-separator {
    /* csv-separator-face */
    color: #D08770;
}
.org-cursor {
    /* cursor */
    background-color: #93a1a1;
}
.org-custom-button {
    /* custom-button */
    color: #88C0D0;
    background-color: #2E3440;
}
.org-custom-button-mouse {
    /* custom-button-mouse */
    color: #2E3440;
    background-color: #D8DEE9;
}
.org-custom-button-pressed {
    /* custom-button-pressed */
    color: #2E3440;
    background-color: #ECEFF4;
}
.org-custom-button-pressed-unraised {
    /* custom-button-pressed-unraised */
    color: #2E3440;
    background-color: #D8DEE9;
}
.org-custom-button-unraised {
    /* custom-button-unraised */
    color: #88C0D0;
    background-color: #2E3440;
}
.org-custom-changed {
    /* custom-changed */
    color: #EBCB8B;
}
.org-custom-comment {
    /* custom-comment */
    color: #616e88;
}
.org-custom-comment-tag {
    /* custom-comment-tag */
    color: #8FBCBB;
}
.org-custom-documentation {
    /* custom-documentation */
    color: #D8DEE9;
}
.org-custom-face-tag {
    /* custom-face-tag */
    color: #add8e6;
    font-weight: bold;
}
.org-custom-group-subtitle {
    /* custom-group-subtitle */
    font-weight: bold;
}
.org-custom-group-tag {
    /* custom-group-tag */
    color: #88C0D0;
    font-weight: bold;
}
.org-custom-group-tag-1 {
    /* custom-group-tag-1 */
    color: #88C0D0;
    font-weight: bold;
}
.org-custom-invalid {
    /* custom-invalid */
    color: #BF616A;
}
.org-custom-link {
    /* custom-link */
    text-decoration: underline;
}
.org-custom-modified {
    /* custom-modified */
    color: #EBCB8B;
}
.org-custom-rogue {
    /* custom-rogue */
    color: #D08770;
    background-color: #434C5E;
}
.org-custom-saved {
    /* custom-saved */
    color: #A3BE8C;
}
.org-custom-set {
    /* custom-set */
    color: #88C0D0;
}
.org-custom-state {
    /* custom-state */
    color: #A3BE8C;
}
.org-custom-themed {
    /* custom-themed */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-custom-variable-button {
    /* custom-variable-button */
    font-weight: bold;
    text-decoration: underline;
}
.org-custom-variable-obsolete {
    /* custom-variable-obsolete */
    color: #add8e6;
}
.org-custom-variable-tag {
    /* custom-variable-tag */
    color: #add8e6;
    font-weight: bold;
}
.org-custom-visibility {
    /* custom-visibility */
    font-size: 80%;
    text-decoration: underline;
}
.org-diary {
    /* diary */
    color: #ffff00;
}
.org-diary-anniversary {
    /* diary-anniversary */
    color: #81A1C1;
}
.org-diary-button {
}
.org-diary-time {
    /* diary-time */
    color: #D8DEE9;
}
.org-diff-added {
    /* diff-added */
    color: #A3BE8C;
}
.org-diff-changed {
    /* diff-changed */
    color: #EBCB8B;
}
.org-diff-context {
    /* diff-context */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-diff-file-header {
    /* diff-file-header */
    color: #88C0D0;
}
.org-diff-function {
    /* diff-function */
    color: #8FBCBB;
}
.org-diff-header {
    /* diff-header */
    color: #81A1C1;
    font-weight: bold;
}
.org-diff-hunk-header {
    /* diff-hunk-header */
    color: #81A1C1;
    background-color: #2E3440;
}
.org-diff-index {
    /* diff-index */
    color: #88C0D0;
}
.org-diff-indicator-added {
    /* diff-indicator-added */
    color: #A3BE8C;
}
.org-diff-indicator-changed {
    /* diff-indicator-changed */
    color: #EBCB8B;
}
.org-diff-indicator-removed {
    /* diff-indicator-removed */
    color: #BF616A;
}
.org-diff-nonexistent {
    /* diff-nonexistent */
    color: #BF616A;
}
.org-diff-refine-added {
    /* diff-refine-added */
    color: #A3BE8C;
}
.org-diff-refine-changed {
    /* diff-refine-changed */
    color: #EBCB8B;
}
.org-diff-refine-removed {
    /* diff-refine-removed */
    color: #BF616A;
}
.org-diff-removed {
    /* diff-removed */
    color: #BF616A;
}
.org-dired-directory {
    /* dired-directory */
    color: #88C0D0;
}
.org-dired-flagged {
    /* dired-flagged */
    color: #BF616A;
    font-weight: bold;
}
.org-dired-header {
    /* dired-header */
    color: #8FBCBB;
}
.org-dired-ignored {
    /* dired-ignored */
    color: #4C566A;
}
.org-dired-mark {
    /* dired-mark */
    color: #81A1C1;
}
.org-dired-marked {
    /* dired-marked */
    color: #EBCB8B;
    font-weight: bold;
}
.org-dired-perm-write {
    /* dired-perm-write */
    color: #616e88;
}
.org-dired-set-id {
    /* dired-set-id */
    color: #EBCB8B;
}
.org-dired-special {
    /* dired-special */
    color: #D8DEE9;
}
.org-dired-symlink {
    /* dired-symlink */
    color: #81A1C1;
}
.org-dired-warning {
    /* dired-warning */
    color: #EBCB8B;
}
.org-doc {
    /* font-lock-doc-face */
    color: #616e88;
}
.org-eldoc-highlight-function-argument {
    /* eldoc-highlight-function-argument */
    font-weight: bold;
}
.org-epa-field-body {
    /* epa-field-body */
    color: #40e0d0;
    font-style: italic;
}
.org-epa-field-name {
    /* epa-field-name */
    color: #afeeee;
    font-weight: bold;
}
.org-epa-mark {
    /* epa-mark */
    color: #ffa500;
    font-weight: bold;
}
.org-epa-string {
    /* epa-string */
    color: #ffffe0;
}
.org-epa-validity-disabled {
    /* epa-validity-disabled */
    font-style: italic;
}
.org-epa-validity-high {
    /* epa-validity-high */
    color: #afeeee;
    font-weight: bold;
}
.org-epa-validity-low {
    /* epa-validity-low */
    font-style: italic;
}
.org-epa-validity-medium {
    /* epa-validity-medium */
    color: #afeeee;
    font-style: italic;
}
.org-error {
    /* error */
    color: #BF616A;
    font-weight: bold;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #D08770;
}
.org-eww-form-checkbox {
    /* eww-form-checkbox */
    color: #000000;
    background-color: #d3d3d3;
}
.org-eww-form-file {
    /* eww-form-file */
    color: #000000;
    background-color: #808080;
}
.org-eww-form-select {
    /* eww-form-select */
    color: #000000;
    background-color: #d3d3d3;
}
.org-eww-form-submit {
    /* eww-form-submit */
    color: #000000;
    background-color: #808080;
}
.org-eww-form-text {
    /* eww-form-text */
    color: #ffffff;
    background-color: #505050;
}
.org-eww-form-textarea {
    /* eww-form-textarea */
    color: #000000;
    background-color: #C0C0C0;
}
.org-eww-invalid-certificate {
    /* eww-invalid-certificate */
    color: #ff0000;
    font-weight: bold;
}
.org-eww-lnum-number {
    /* eww-lnum-number */
    color: #b3b3b3;
}
.org-eww-valid-certificate {
    /* eww-valid-certificate */
    color: #228b22;
    font-weight: bold;
}
.org-ffap {
    /* ffap */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #4C566A;
}
.org-fill-column-indicator {
    /* fill-column-indicator */
    color: #4C566A;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-flyspell-duplicate {
    /* flyspell-duplicate */
    text-decoration: underline;
}
.org-flyspell-incorrect {
    /* flyspell-incorrect */
    text-decoration: underline;
}
.org-fringe {
    /* fringe */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #88C0D0;
}
.org-glyphless-char {
    /* glyphless-char */
    font-size: 60%;
}
.org-gnus-button {
    /* gnus-button */
    font-weight: bold;
}
.org-gnus-emphasis-bold {
    /* gnus-emphasis-bold */
    font-weight: bold;
}
.org-gnus-emphasis-bold-italic {
    /* gnus-emphasis-bold-italic */
    font-weight: bold;
    font-style: italic;
}
.org-gnus-emphasis-highlight-words {
    /* gnus-emphasis-highlight-words */
    color: #ffff00;
    background-color: #000000;
}
.org-gnus-emphasis-italic {
    /* gnus-emphasis-italic */
    font-style: italic;
}
.org-gnus-emphasis-strikethru {
    /* gnus-emphasis-strikethru */
    text-decoration: line-through;
}
.org-gnus-emphasis-underline {
    /* gnus-emphasis-underline */
    text-decoration: underline;
}
.org-gnus-emphasis-underline-bold {
    /* gnus-emphasis-underline-bold */
    font-weight: bold;
    text-decoration: underline;
}
.org-gnus-emphasis-underline-bold-italic {
    /* gnus-emphasis-underline-bold-italic */
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.org-gnus-emphasis-underline-italic {
    /* gnus-emphasis-underline-italic */
    font-style: italic;
    text-decoration: underline;
}
.org-gnus-group-mail-1 {
    /* gnus-group-mail-1 */
    color: #e1ffe1;
    font-weight: bold;
}
.org-gnus-group-mail-1-empty {
    /* gnus-group-mail-1-empty */
    color: #e1ffe1;
}
.org-gnus-group-mail-2 {
    /* gnus-group-mail-2 */
    color: #c1ffc1;
    font-weight: bold;
}
.org-gnus-group-mail-2-empty {
    /* gnus-group-mail-2-empty */
    color: #c1ffc1;
}
.org-gnus-group-mail-3 {
    /* gnus-group-mail-3 */
    color: #7fffd4;
    font-weight: bold;
}
.org-gnus-group-mail-3-empty {
    /* gnus-group-mail-3-empty */
    color: #7fffd4;
}
.org-gnus-group-mail-low {
    /* gnus-group-mail-low */
    color: #76eec6;
    font-weight: bold;
}
.org-gnus-group-mail-low-empty {
    /* gnus-group-mail-low-empty */
    color: #76eec6;
}
.org-gnus-group-news-1 {
    /* gnus-group-news-1 */
    color: #afeeee;
    font-weight: bold;
}
.org-gnus-group-news-1-empty {
    /* gnus-group-news-1-empty */
    color: #afeeee;
}
.org-gnus-group-news-2 {
    /* gnus-group-news-2 */
    color: #40e0d0;
    font-weight: bold;
}
.org-gnus-group-news-2-empty {
    /* gnus-group-news-2-empty */
    color: #40e0d0;
}
.org-gnus-group-news-3 {
    /* gnus-group-news-3 */
    font-weight: bold;
}
.org-gnus-group-news-3-empty {
}
.org-gnus-group-news-4 {
    /* gnus-group-news-4 */
    font-weight: bold;
}
.org-gnus-group-news-4-empty {
}
.org-gnus-group-news-5 {
    /* gnus-group-news-5 */
    font-weight: bold;
}
.org-gnus-group-news-5-empty {
}
.org-gnus-group-news-6 {
    /* gnus-group-news-6 */
    font-weight: bold;
}
.org-gnus-group-news-6-empty {
}
.org-gnus-group-news-low {
    /* gnus-group-news-low */
    color: #00ced1;
    font-weight: bold;
}
.org-gnus-group-news-low-empty {
    /* gnus-group-news-low-empty */
    color: #00ced1;
}
.org-gnus-header-content {
    /* gnus-header-content */
    color: #00ff7f;
    font-style: italic;
}
.org-gnus-header-from {
    /* gnus-header-from */
    color: #9aff9a;
}
.org-gnus-header-name {
    /* gnus-header-name */
    color: #00ee76;
}
.org-gnus-header-newsgroups {
    /* gnus-header-newsgroups */
    color: #ffff00;
    font-style: italic;
}
.org-gnus-header-subject {
    /* gnus-header-subject */
    color: #54ff9f;
}
.org-gnus-server-agent {
    /* gnus-server-agent */
    color: #afeeee;
    font-weight: bold;
}
.org-gnus-server-closed {
    /* gnus-server-closed */
    color: #add8e6;
    font-style: italic;
}
.org-gnus-server-cloud {
    /* gnus-server-cloud */
    color: #98fb98;
    font-weight: bold;
}
.org-gnus-server-cloud-host {
    /* gnus-server-cloud-host */
    color: #98fb98;
    font-style: italic;
}
.org-gnus-server-denied {
    /* gnus-server-denied */
    color: #ffc0cb;
    font-weight: bold;
}
.org-gnus-server-offline {
    /* gnus-server-offline */
    color: #ffff00;
    font-weight: bold;
}
.org-gnus-server-opened {
    /* gnus-server-opened */
    color: #00ff00;
    font-weight: bold;
}
.org-gnus-signature {
    /* gnus-signature */
    font-style: italic;
}
.org-gnus-splash {
    /* gnus-splash */
    color: #cccccc;
}
.org-gnus-summary-cancelled {
    /* gnus-summary-cancelled */
    color: #ffff00;
    background-color: #000000;
}
.org-gnus-summary-high-ancient {
    /* gnus-summary-high-ancient */
    color: #87ceeb;
    font-weight: bold;
}
.org-gnus-summary-high-read {
    /* gnus-summary-high-read */
    color: #98fb98;
    font-weight: bold;
}
.org-gnus-summary-high-ticked {
    /* gnus-summary-high-ticked */
    color: #ffc0cb;
    font-weight: bold;
}
.org-gnus-summary-high-undownloaded {
    /* gnus-summary-high-undownloaded */
    color: #d3d3d3;
    font-weight: bold;
}
.org-gnus-summary-high-unread {
    /* gnus-summary-high-unread */
    font-weight: bold;
}
.org-gnus-summary-low-ancient {
    /* gnus-summary-low-ancient */
    color: #87ceeb;
    font-style: italic;
}
.org-gnus-summary-low-read {
    /* gnus-summary-low-read */
    color: #98fb98;
    font-style: italic;
}
.org-gnus-summary-low-ticked {
    /* gnus-summary-low-ticked */
    color: #ffc0cb;
    font-style: italic;
}
.org-gnus-summary-low-undownloaded {
    /* gnus-summary-low-undownloaded */
    color: #d3d3d3;
    font-style: italic;
}
.org-gnus-summary-low-unread {
    /* gnus-summary-low-unread */
    font-style: italic;
}
.org-gnus-summary-normal-ancient {
    /* gnus-summary-normal-ancient */
    color: #87ceeb;
}
.org-gnus-summary-normal-read {
    /* gnus-summary-normal-read */
    color: #98fb98;
}
.org-gnus-summary-normal-ticked {
    /* gnus-summary-normal-ticked */
    color: #ffc0cb;
}
.org-gnus-summary-normal-undownloaded {
    /* gnus-summary-normal-undownloaded */
    color: #d3d3d3;
}
.org-gnus-summary-normal-unread {
}
.org-gnus-summary-selected {
    /* gnus-summary-selected */
    text-decoration: underline;
}
.org-header-line {
    /* header-line */
    color: #D8DEE9;
    background-color: #434C5E;
}
.org-header-line-highlight {
    /* header-line-highlight */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-help-argument-name {
    /* help-argument-name */
    color: #88C0D0;
}
.org-highlight {
    /* highlight */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-hl-line {
    /* hl-line */
    background-color: #3B4252;
}
.org-holiday {
    /* holiday */
    background-color: #8b4513;
}
.org-homoglyph {
    /* homoglyph */
    color: #00ffff;
}
.org-ido-first-match {
    /* ido-first-match */
    color: #88C0D0;
    font-weight: bold;
}
.org-ido-incomplete-regexp {
    /* ido-incomplete-regexp */
    color: #EBCB8B;
}
.org-ido-indicator {
    /* ido-indicator */
    color: #ffff00;
    background-color: #ff0000;
}
.org-ido-only-match {
    /* ido-only-match */
    color: #88C0D0;
}
.org-ido-subdir {
    /* ido-subdir */
    color: #81A1C1;
}
.org-ido-virtual {
    /* ido-virtual */
    color: #81A1C1;
}
.org-info-header-node {
    /* info-header-node */
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}
.org-info-header-xref {
    /* info-header-xref */
    text-decoration: underline;
}
.org-info-index-match {
    /* info-index-match */
    color: #2E3440;
    background-color: #88C0D0;
}
.org-info-menu-header {
    /* info-menu-header */
    font-weight: bold;
}
.org-info-menu-star {
    /* info-menu-star */
    color: #81A1C1;
}
.org-info-node {
    /* info-node */
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}
.org-info-quoted {
}
.org-info-title-1 {
    /* info-title-1 */
    font-size: 172%;
    font-weight: bold;
}
.org-info-title-2 {
    /* info-title-2 */
    font-size: 144%;
    font-weight: bold;
}
.org-info-title-3 {
    /* info-title-3 */
    font-size: 120%;
    font-weight: bold;
}
.org-info-title-4 {
    /* info-title-4 */
    font-weight: bold;
}
.org-info-xref {
    /* info-xref */
    text-decoration: underline;
}
.org-internal-border {
}
.org-isearch {
    /* isearch */
    color: #2E3440;
    background-color: #88C0D0;
}
.org-isearch-fail {
    /* isearch-fail */
    color: #BF616A;
}
.org-italic {
    /* italic */
    font-style: italic;
}
.org-keycast-command {
    /* keycast-command */
    font-weight: bold;
}
.org-keycast-key {
    /* keycast-key */
    color: #000000;
    background-color: #d5cfbf;
    font-size: 120%;
    font-weight: bold;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #81A1C1;
}
.org-lazy-highlight {
    /* lazy-highlight */
    background-color: #668b8b;
}
.org-line-number-current-line {
    /* line-number-current-line */
    color: #4C566A;
    background-color: #2E3440;
}
.org-line-number-major-tick {
    /* line-number-major-tick */
    background-color: #bfbfbf;
    font-weight: bold;
}
.org-line-number-minor-tick {
    /* line-number-minor-tick */
    background-color: #8c8c8c;
    font-weight: bold;
}
.org-link {
    /* link */
    text-decoration: underline;
}
.org-link-visited {
    /* link-visited */
    text-decoration: underline;
}
.org-match {
    /* match */
    color: #2E3440;
    background-color: #88C0D0;
}
.org-menu {
}
.org-message-cited-text-1 {
    /* message-cited-text-1 */
    color: #D8DEE9;
}
.org-message-cited-text-2 {
    /* message-cited-text-2 */
    color: #228b22;
}
.org-message-cited-text-3 {
    /* message-cited-text-3 */
    color: #cd9b1d;
}
.org-message-cited-text-4 {
    /* message-cited-text-4 */
    color: #cd661d;
}
.org-message-header-cc {
    /* message-header-cc */
    color: #81A1C1;
}
.org-message-header-name {
    /* message-header-name */
    color: #8FBCBB;
}
.org-message-header-newsgroups {
    /* message-header-newsgroups */
    color: #ffff00;
    font-weight: bold;
    font-style: italic;
}
.org-message-header-other {
    /* message-header-other */
    color: #D8DEE9;
}
.org-message-header-subject {
    /* message-header-subject */
    color: #88C0D0;
}
.org-message-header-to {
    /* message-header-to */
    color: #81A1C1;
}
.org-message-header-xheader {
    /* message-header-xheader */
    color: #EBCB8B;
}
.org-message-mml {
    /* message-mml */
    color: #5E81AC;
}
.org-message-separator {
    /* message-separator */
    color: #4C566A;
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #88C0D0;
    font-weight: bold;
}
.org-mm-command-output {
    /* mm-command-output */
    color: #88C0D0;
}
.org-mm-uu-extract {
    /* mm-uu-extract */
    color: #ffffe0;
    background-color: #006400;
}
.org-mode-line {
    /* mode-line */
    color: #88C0D0;
    background-color: #4C566A;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    font-weight: bold;
}
.org-mode-line-emphasis {
    /* mode-line-emphasis */
    font-weight: bold;
}
.org-mode-line-highlight {
    /* mode-line-highlight */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #D8DEE9;
    background-color: #3B4252;
}
.org-mouse {
}
.org-mouse-drag-and-drop-region {
    /* mouse-drag-and-drop-region */
    background-color: #434C5E;
}
.org-negation-char {
    /* font-lock-negation-char-face */
    color: #81A1C1;
}
.org-next-error {
    /* next-error */
    color: #BF616A;
    font-weight: bold;
}
.org-nobreak-hyphen {
    /* nobreak-hyphen */
    color: #00ffff;
}
.org-nobreak-space {
    /* nobreak-space */
    color: #4C566A;
}
.org-nxml-attribute-colon {
}
.org-nxml-attribute-local-name {
    /* nxml-attribute-local-name */
    color: #D8DEE9;
}
.org-nxml-attribute-prefix {
    /* nxml-attribute-prefix */
    color: #81A1C1;
}
.org-nxml-attribute-value {
    /* nxml-attribute-value */
    color: #A3BE8C;
}
.org-nxml-attribute-value-delimiter {
    /* nxml-attribute-value-delimiter */
    color: #A3BE8C;
}
.org-nxml-cdata-section-cdata {
    /* nxml-cdata-section-CDATA */
    color: #81A1C1;
}
.org-nxml-cdata-section-content {
}
.org-nxml-cdata-section-delimiter {
}
.org-nxml-char-ref-delimiter {
    /* nxml-char-ref-delimiter */
    color: #81A1C1;
}
.org-nxml-char-ref-number {
    /* nxml-char-ref-number */
    color: #81A1C1;
}
.org-nxml-delimited-data {
    /* nxml-delimited-data */
    color: #616e88;
}
.org-nxml-delimiter {
}
.org-nxml-element-colon {
}
.org-nxml-element-local-name {
    /* nxml-element-local-name */
    color: #88C0D0;
}
.org-nxml-element-prefix {
    /* nxml-element-prefix */
    color: #81A1C1;
}
.org-nxml-entity-ref-delimiter {
    /* nxml-entity-ref-delimiter */
    color: #81A1C1;
}
.org-nxml-entity-ref-name {
    /* nxml-entity-ref-name */
    color: #81A1C1;
}
.org-nxml-glyph {
    /* nxml-glyph */
    color: #000000;
    background-color: #d3d3d3;
}
.org-nxml-hash {
    /* nxml-hash */
    color: #81A1C1;
}
.org-nxml-heading {
    /* nxml-heading */
    font-weight: bold;
}
.org-nxml-markup-declaration-delimiter {
}
.org-nxml-name {
    /* nxml-name */
    color: #81A1C1;
}
.org-nxml-namespace-attribute-colon {
}
.org-nxml-namespace-attribute-prefix {
    /* nxml-namespace-attribute-prefix */
    color: #D8DEE9;
}
.org-nxml-namespace-attribute-xmlns {
    /* nxml-namespace-attribute-xmlns */
    color: #81A1C1;
}
.org-nxml-outline-active-indicator {
}
.org-nxml-outline-ellipsis {
    /* nxml-outline-ellipsis */
    font-weight: bold;
}
.org-nxml-outline-indicator {
}
.org-nxml-processing-instruction-content {
    /* nxml-processing-instruction-content */
    color: #616e88;
}
.org-nxml-processing-instruction-delimiter {
}
.org-nxml-processing-instruction-target {
    /* nxml-processing-instruction-target */
    color: #81A1C1;
}
.org-nxml-prolog-keyword {
    /* nxml-prolog-keyword */
    color: #81A1C1;
}
.org-nxml-prolog-literal-content {
    /* nxml-prolog-literal-content */
    color: #616e88;
}
.org-nxml-prolog-literal-delimiter {
    /* nxml-prolog-literal-delimiter */
    color: #616e88;
}
.org-nxml-ref {
    /* nxml-ref */
    color: #81A1C1;
}
.org-nxml-tag-delimiter {
}
.org-nxml-tag-slash {
}
.org-nxml-text {
}
.org-org-agenda-calendar-event {
    /* org-agenda-calendar-event */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-org-agenda-calendar-sexp {
    /* org-agenda-calendar-sexp */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-org-agenda-clocking {
    /* org-agenda-clocking */
    background-color: #434C5E;
}
.org-org-agenda-column-dateline {
    /* org-agenda-column-dateline */
    background-color: #434C5E;
}
.org-org-agenda-current-time {
    /* org-agenda-current-time */
    color: #eedd82;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #88C0D0;
}
.org-org-agenda-date-today {
    /* org-agenda-date-today */
    color: #88C0D0;
    font-weight: bold;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #81A1C1;
}
.org-org-agenda-diary {
    /* org-agenda-diary */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-org-agenda-dimmed-todo {
    /* org-agenda-dimmed-todo-face */
    background-color: #EBCB8B;
}
.org-org-agenda-done {
    /* org-agenda-done */
    color: #A3BE8C;
}
.org-org-agenda-filter-category {
    /* org-agenda-filter-category */
    color: #88C0D0;
    background-color: #4C566A;
}
.org-org-agenda-filter-effort {
    /* org-agenda-filter-effort */
    color: #88C0D0;
    background-color: #4C566A;
}
.org-org-agenda-filter-regexp {
    /* org-agenda-filter-regexp */
    color: #88C0D0;
    background-color: #4C566A;
}
.org-org-agenda-filter-tags {
    /* org-agenda-filter-tags */
    color: #88C0D0;
    background-color: #4C566A;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    background-color: #1C1C1C;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #81A1C1;
}
.org-org-archived {
    /* org-archived */
    color: #4C566A;
}
.org-org-block {
    /* org-block */
    color: #D8DEE9;
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #8FBCBB;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #8FBCBB;
}
.org-org-checkbox {
    /* org-checkbox */
    color: #81A1C1;
}
.org-org-checkbox-statistics-done {
    /* org-checkbox-statistics-done */
    color: #A3BE8C;
}
.org-org-checkbox-statistics-todo {
    /* org-checkbox-statistics-todo */
    color: #EBCB8B;
}
.org-org-clock-overlay {
    /* org-clock-overlay */
    color: #ffffff;
    background-color: #4a708b;
}
.org-org-code {
    /* org-code */
    color: #8FBCBB;
}
.org-org-column {
    /* org-column */
    background-color: #434C5E;
}
.org-org-column-title {
    /* org-column-title */
    background-color: #434C5E;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-date {
    /* org-date */
    color: #88C0D0;
}
.org-org-date-selected {
    /* org-date-selected */
    color: #ffc0cb;
}
.org-org-default {
    /* org-default */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-org-document-info {
    /* org-document-info */
    color: #D8DEE9;
}
.org-org-document-info-keyword {
    /* org-document-info-keyword */
    color: #4C566A;
    font-weight: bold;
}
.org-org-document-title {
    /* org-document-title */
    color: #88C0D0;
    font-weight: bold;
}
.org-org-done {
    /* org-done */
    color: #A3BE8C;
    font-weight: bold;
}
.org-org-drawer {
    /* org-drawer */
    color: #87cefa;
}
.org-org-ellipsis {
    /* org-ellipsis */
    color: #4C566A;
}
.org-org-footnote {
    /* org-footnote */
    color: #88C0D0;
}
.org-org-formula {
    /* org-formula */
    color: #81A1C1;
}
.org-org-habit-alert {
    /* org-habit-alert-face */
    background-color: #ffd700;
}
.org-org-habit-alert-future {
    /* org-habit-alert-future-face */
    background-color: #b8860b;
}
.org-org-habit-clear {
    /* org-habit-clear-face */
    background-color: #0000ff;
}
.org-org-habit-clear-future {
    /* org-habit-clear-future-face */
    background-color: #191970;
}
.org-org-habit-overdue {
    /* org-habit-overdue-face */
    background-color: #b22222;
}
.org-org-habit-overdue-future {
    /* org-habit-overdue-future-face */
    background-color: #8b0000;
}
.org-org-habit-ready {
    /* org-habit-ready-face */
    background-color: #228b22;
}
.org-org-habit-ready-future {
    /* org-habit-ready-future-face */
    background-color: #006400;
}
.org-org-headline-done {
    /* org-headline-done */
    color: #ffa07a;
}
.org-org-headline-todo {
    /* org-headline-todo */
    color: #eea9b8;
}
.org-org-hide {
    /* org-hide */
    color: #2E3440;
    background-color: #2E3440;
}
.org-org-indent {
    /* org-indent */
    color: #2E3440;
    background-color: #2E3440;
}
.org-org-latex-and-related {
    /* org-latex-and-related */
    color: #deb887;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #8FBCBB;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #88C0D0;
    font-weight: bold;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #81A1C1;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #5E81AC;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #5E81AC;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #5E81AC;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #5E81AC;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #5E81AC;
}
.org-org-link {
    /* org-link */
    text-decoration: underline;
}
.org-org-list-dt {
    /* org-list-dt */
    font-weight: bold;
}
.org-org-macro {
    /* org-macro */
    color: #deb887;
}
.org-org-meta-line {
    /* org-meta-line */
    color: #616e88;
}
.org-org-mode-line-clock {
    /* org-mode-line-clock */
    color: #88C0D0;
    background-color: #4C566A;
}
.org-org-mode-line-clock-overrun {
    /* org-mode-line-clock-overrun */
    color: #88C0D0;
    background-color: #ff0000;
}
.org-org-priority {
    /* org-priority */
    color: #81A1C1;
}
.org-org-property-value {
}
.org-org-quote {
    /* org-quote */
    color: #D8DEE9;
    font-style: italic;
}
.org-org-scheduled {
    /* org-scheduled */
    color: #A3BE8C;
}
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #EBCB8B;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #88C0D0;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #8FBCBB;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #81A1C1;
}
.org-org-table {
    /* org-table */
    color: #81A1C1;
}
.org-org-table-header {
    /* org-table-header */
    color: #000000;
    background-color: #d3d3d3;
}
.org-org-tag {
    /* org-tag */
    font-weight: bold;
}
.org-org-tag-group {
    /* org-tag-group */
    font-weight: bold;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #eedd82;
}
.org-org-todo {
    /* org-todo */
    color: #EBCB8B;
    font-weight: bold;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #D08770;
}
.org-org-upcoming-distant-deadline {
    /* org-upcoming-distant-deadline */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #8FBCBB;
}
.org-org-verse {
    /* org-verse */
    color: #D8DEE9;
    font-style: italic;
}
.org-org-warning {
    /* org-warning */
    color: #EBCB8B;
    font-weight: bold;
}
.org-outline-1 {
    /* outline-1 */
    color: #88C0D0;
    font-weight: bold;
}
.org-outline-2 {
    /* outline-2 */
    color: #88C0D0;
    font-weight: bold;
}
.org-outline-3 {
    /* outline-3 */
    color: #88C0D0;
    font-weight: bold;
}
.org-outline-4 {
    /* outline-4 */
    color: #88C0D0;
    font-weight: bold;
}
.org-outline-5 {
    /* outline-5 */
    color: #88C0D0;
    font-weight: bold;
}
.org-outline-6 {
    /* outline-6 */
    color: #88C0D0;
    font-weight: bold;
}
.org-outline-7 {
    /* outline-7 */
    color: #88C0D0;
    font-weight: bold;
}
.org-outline-8 {
    /* outline-8 */
    color: #88C0D0;
    font-weight: bold;
}
.org-package-description {
    /* package-description */
    color: #D8DEE9;
}
.org-package-help-section-name {
    /* package-help-section-name */
    color: #88C0D0;
    font-weight: bold;
}
.org-package-name {
    /* package-name */
    color: #88C0D0;
}
.org-package-status-avail-obso {
    /* package-status-avail-obso */
    color: #8FBCBB;
    font-style: italic;
}
.org-package-status-available {
    /* package-status-available */
    color: #8FBCBB;
}
.org-package-status-built-in {
    /* package-status-built-in */
    color: #81A1C1;
}
.org-package-status-dependency {
    /* package-status-dependency */
    color: #88C0D0;
    font-style: italic;
}
.org-package-status-disabled {
    /* package-status-disabled */
    color: #4C566A;
}
.org-package-status-external {
    /* package-status-external */
    color: #D08770;
    font-style: italic;
}
.org-package-status-held {
    /* package-status-held */
    color: #D8DEE9;
    font-weight: bold;
}
.org-package-status-incompat {
    /* package-status-incompat */
    color: #BF616A;
}
.org-package-status-installed {
    /* package-status-installed */
    color: #8FBCBB;
    font-weight: bold;
}
.org-package-status-new {
    /* package-status-new */
    color: #A3BE8C;
}
.org-package-status-unsigned {
    /* package-status-unsigned */
    text-decoration: underline;
}
.org-pass-mode-directory {
    /* pass-mode-directory-face */
    color: #88C0D0;
    font-weight: bold;
}
.org-pass-mode-entry {
}
.org-pass-mode-header {
    /* pass-mode-header-face */
    color: #81A1C1;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #5E81AC;
    font-weight: bold;
}
.org-query-replace {
    /* query-replace */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-read-multiple-choice {
    /* read-multiple-choice-face */
    font-weight: bold;
    text-decoration: underline;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    color: #EBCB8B;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    color: #EBCB8B;
}
.org-region {
    /* region */
    background-color: #434C5E;
}
.org-rmail-header-name {
    /* rmail-header-name */
    color: #88C0D0;
}
.org-rmail-highlight {
    /* rmail-highlight */
    color: #88C0D0;
    background-color: #434C5E;
}
.org-rng-error {
    /* rng-error */
    color: #EBCB8B;
}
.org-scroll-bar {
    /* scroll-bar */
    background-color: #4C566A;
}
.org-secondary-selection {
    /* secondary-selection */
    background-color: #434C5E;
}
.org-sgml-namespace {
    /* sgml-namespace */
    color: #81A1C1;
}
.org-sh-escaped-newline {
    /* sh-escaped-newline */
    color: #A3BE8C;
}
.org-sh-heredoc {
    /* sh-heredoc */
    color: #ffff00;
    font-weight: bold;
}
.org-sh-quoted-exec {
    /* sh-quoted-exec */
    color: #fa8072;
}
.org-shadow {
    /* shadow */
    color: #4C566A;
}
.org-show-paren-match {
    /* show-paren-match */
    color: #2E3440;
    background-color: #88C0D0;
}
.org-show-paren-match-expression {
    /* show-paren-match-expression */
    color: #2E3440;
    background-color: #88C0D0;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    background-color: #BF616A;
}
.org-shr-abbreviation {
    /* shr-abbreviation */
    text-decoration: underline;
}
.org-shr-link {
    /* shr-link */
    text-decoration: underline;
}
.org-shr-selected-link {
    /* shr-selected-link */
    background-color: #ff0000;
    text-decoration: underline;
}
.org-shr-strike-through {
    /* shr-strike-through */
    text-decoration: line-through;
}
.org-speedbar-button {
    /* speedbar-button-face */
    color: #00cd00;
}
.org-speedbar-directory {
    /* speedbar-directory-face */
    color: #add8e6;
}
.org-speedbar-file {
    /* speedbar-file-face */
    color: #00ffff;
}
.org-speedbar-highlight {
    /* speedbar-highlight-face */
    background-color: #2e8b57;
}
.org-speedbar-selected {
    /* speedbar-selected-face */
    color: #ff0000;
    text-decoration: underline;
}
.org-speedbar-separator {
    /* speedbar-separator-face */
    color: #ffffff;
    background-color: #0000ff;
    text-decoration: overline;
}
.org-speedbar-tag {
    /* speedbar-tag-face */
    color: #ffff00;
}
.org-string {
    /* font-lock-string-face */
    color: #A3BE8C;
}
.org-success {
    /* success */
    color: #A3BE8C;
}
.org-tab-bar {
    /* tab-bar */
    color: #000000;
    background-color: #d9d9d9;
}
.org-tab-bar-tab {
    /* tab-bar-tab */
    color: #000000;
    background-color: #d9d9d9;
}
.org-tab-bar-tab-inactive {
    /* tab-bar-tab-inactive */
    color: #000000;
    background-color: #bfbfbf;
}
.org-tab-line {
    /* tab-line */
    color: #000000;
    background-color: #d9d9d9;
    font-size: 90%;
}
.org-table-cell {
    /* table-cell */
    color: #e5e5e5;
    background-color: #0000ff;
}
.org-tabulated-list-fake-header {
    /* tabulated-list-fake-header */
    font-weight: bold;
    text-decoration: underline;
    text-decoration: overline;
}
.org-term {
    /* term */
    color: #D8DEE9;
    background-color: #2E3440;
}
.org-term-bold {
    /* term-bold */
    font-weight: bold;
}
.org-term-color-black {
    /* term-color-black */
    color: #3B4252;
    background-color: #3B4252;
}
.org-term-color-blue {
    /* term-color-blue */
    color: #88C0D0;
    background-color: #88C0D0;
}
.org-term-color-cyan {
    /* term-color-cyan */
    color: #8FBCBB;
    background-color: #8FBCBB;
}
.org-term-color-green {
    /* term-color-green */
    color: #A3BE8C;
    background-color: #A3BE8C;
}
.org-term-color-magenta {
    /* term-color-magenta */
    color: #B48EAD;
    background-color: #B48EAD;
}
.org-term-color-red {
    /* term-color-red */
    color: #BF616A;
    background-color: #BF616A;
}
.org-term-color-white {
    /* term-color-white */
    color: #E5E9F0;
    background-color: #E5E9F0;
}
.org-term-color-yellow {
    /* term-color-yellow */
    color: #EBCB8B;
    background-color: #EBCB8B;
}
.org-term-underline {
    /* term-underline */
    text-decoration: underline;
}
.org-texinfo-heading {
    /* texinfo-heading */
    color: #88C0D0;
}
.org-tool-bar {
    /* tool-bar */
    color: #D8DEE9;
    background-color: #4C566A;
}
.org-tooltip {
    /* tooltip */
    color: #2E3440;
    background-color: #D8DEE9;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    color: #4C566A;
}
.org-tty-menu-disabled {
    /* tty-menu-disabled-face */
    color: #3B4252;
}
.org-tty-menu-enabled {
    /* tty-menu-enabled-face */
    background-color: #434C5E;
}
.org-tty-menu-selected {
    /* tty-menu-selected-face */
    color: #88C0D0;
    text-decoration: underline;
}
.org-type {
    /* font-lock-type-face */
    color: #8FBCBB;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #D8DEE9;
}
.org-variable-pitch {
}
.org-vc-conflict-state {
    /* vc-conflict-state */
    color: #D08770;
}
.org-vc-edited-state {
    /* vc-edited-state */
    color: #EBCB8B;
}
.org-vc-locally-added-state {
    /* vc-locally-added-state */
    text-decoration: underline;
}
.org-vc-locked-state {
    /* vc-locked-state */
    color: #5E81AC;
}
.org-vc-missing-state {
    /* vc-missing-state */
    color: #BF616A;
}
.org-vc-needs-update-state {
    /* vc-needs-update-state */
    color: #D08770;
}
.org-vc-removed-state {
    /* vc-removed-state */
    color: #BF616A;
}
.org-vc-state-base {
    /* vc-state-base */
    color: #D8DEE9;
}
.org-vc-up-to-date-state {
    /* vc-up-to-date-state */
    color: #88C0D0;
}
.org-vertical-border {
    /* vertical-border */
    color: #434C5E;
}
.org-warning {
    /* warning */
    color: #EBCB8B;
    font-weight: bold;
}
.org-warning-1 {
    /* font-lock-warning-face */
    color: #EBCB8B;
}
.org-which-func {
    /* which-func */
    color: #88C0D0;
}
.org-which-key-command-description {
    /* which-key-command-description-face */
    color: #88C0D0;
}
.org-which-key-docstring {
    /* which-key-docstring-face */
    color: #616e88;
}
.org-which-key-group-description {
    /* which-key-group-description-face */
    color: #81A1C1;
}
.org-which-key-highlighted-command {
    /* which-key-highlighted-command-face */
    color: #88C0D0;
    text-decoration: underline;
}
.org-which-key-key {
    /* which-key-key-face */
    color: #81A1C1;
}
.org-which-key-local-map-description {
    /* which-key-local-map-description-face */
    color: #88C0D0;
}
.org-which-key-note {
    /* which-key-note-face */
    color: #616e88;
}
.org-which-key-separator {
    /* which-key-separator-face */
    color: #616e88;
}
.org-which-key-special-key {
    /* which-key-special-key-face */
    color: #81A1C1;
    font-weight: bold;
}
.org-widget-button {
    /* widget-button */
    font-weight: bold;
}
.org-widget-button-pressed {
    /* widget-button-pressed */
    color: #81A1C1;
    background-color: #3B4252;
}
.org-widget-documentation {
    /* widget-documentation */
    color: #D8DEE9;
}
.org-widget-field {
    /* widget-field */
    color: #D8DEE9;
    background-color: #434C5E;
}
.org-widget-inactive {
    /* widget-inactive */
    color: #4C566A;
}
.org-widget-single-line-field {
    /* widget-single-line-field */
    color: #D8DEE9;
    background-color: #434C5E;
}
.org-window-divider {
    /* window-divider */
    background-color: #4C566A;
}
.org-window-divider-first-pixel {
    /* window-divider-first-pixel */
    background-color: #4C566A;
}
.org-window-divider-last-pixel {
    /* window-divider-last-pixel */
    background-color: #4C566A;
}
.org-xref-file-header {
    /* xref-file-header */
    color: #A3BE8C;
}
.org-xref-line-number {
    /* xref-line-number */
    color: #81A1C1;
}
.org-xref-match {
    /* xref-match */
    color: #88C0D0;
    background-color: #434C5E;
}

a {
    /* color: inherit; */
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
